.carousel-item-padding-10 {
  padding: 0 20px; 
}

.slider {
  color: #ffc107;
  margin-left: 12px;
  box-sizing: border-box;
  animation: slider 6s linear infinite;
}
@keyframes slider {
  0% {
    margin-top: -400px;
  }
  5% {
    margin-top: -200px;
  }
  30% {
    margin-top: -200px;
  }
  35% {
    margin-top: 0px;
  }
  65% {
    margin-top: 0px;
  }
  70% {
    margin-top: 200px;
  }
  100% {
    margin-top: 200px;
  }
}
[dir=ltr] .rotating-text {
  transform: translate(-160px)
}

[dir=rtl] .rotating-text {
  transform: translate(160px)
}
.rotating-text p {
  display: inline-flex;
  margin: 0;
  vertical-align: top
}

.rotating-text p .word {
  position: absolute;
  z-index: 1;
  display: flex;
  opacity: 0
}

.rotating-text p .word {
  opacity: 1;
}

.rotating-text p .word .letter {
  transform-origin: center center 25px
}

.rotating-text p .word .letter.out {
  transform: rotateX(90deg);
  transition: .5s cubic-bezier(.6,0,.7,.2)
}

.rotating-text p .word .letter.in {
  transition: .5s ease
}

.rotating-text p .word .letter.behind {
  transform: rotateX(-90deg)
}

.block-container {
  position: relative;
}

.block-only-display {
  position: relative;
  width: 100%;
  height: 100%;
}
.Banner-module {
  max-width: 1760px;
  background-color: var(--color-white-white);
  padding: 0 80px;
  margin: 0 auto;
  background-size: contain;
  overflow: hidden;
}
.Banner-module-bannerIn {
  height: 556px;
  background-size: 4.08rem 3.36rem;
}
.Banner-module-text1 {
  font-size: 48px;
  line-height: 56px;
}
.Banner-module-text2 {
  font-size: 48px;
  line-height: 56px;
}
.Banner-module-img {
  height: 0;
  width: 16.18rem;
  background-image: url(/image/1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.rotate-180{
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x),
  var(--tw-translate-y))
  rotate(var(--tw-rotate))
  skewX(var(--tw-skew-x))
  skewY(var(--tw-skew-y))
  scaleX(var(--tw-scale-x))
  scaleY(var(--tw-scale-y));
}
